<div class="form">
  <div class="titulo">
    Agendar cita
  </div>
  <br>
  <br>
  <div>
    <div class="identificacion">
      <input type="text" [(ngModel)]="cita.idPersona" name="identifiacion" placeholder="identificaion...">
    </div>
  </div>
  <div>
    <div class="fecha">
      <input id="fecha-seleccion" type="datetime-local">
    </div>
    <div class="registrar">
      <button class="btn_registrar" (click)="extraerFecha()">consultar</button>
    </div>
  </div>
  <div>
    <p *ngIf="extraerFecha()!='Invalid Date'">{{fecha | date:'d/M/yyyy  h:mm a'}}</p>
  </div>
  <div>
    <div class="agendar">
      <button (click)="registrarCita()" type="button">Agendar</button>
    </div>
    <div class="borrar">
      <button type="reset">Borrar</button>
    </div>
  </div>
</div>

