<div class="form">
  <div class="titulo">
    Agendar cita
  </div>
  <br>
  <br>
  <div>
    <table>
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">identificación</th>
              <th scope="col">Nombres </th>
              <th scope="col">apellidos</th>
              <th scope="col">direccion</th>
              <th scope="col">año de nacimiento</th>
              <th scope="col">correo</th>
              <th scope="col">telefono</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="identificacion">
      <input type="text" name="identifiacion" placeholder="identifiacion...">
    </div>
    <div class="buscar">
      <button type="button">Buscar</button>
    </div>
  </div>
  <div>
    <div class="fecha">
      <input id="fecha-seleccion" type="datetime-local">
    </div>
    <div class="consultar">
      <button class="btn_consultar" (click)="extraerFecha()">consultar</button>
    </div>
  </div>
  <div>
    <p *ngIf="extraerFecha()!='Invalid Date'">{{fecha | date:'d/M/yyyy  h:mm a'}}</p>
  </div>
  <div>
    <div class="agendar">
      <button type="button">Agendar</button>
    </div>
    <div class="borrar">
      <button type="reset">Borrar</button>
    </div>
  </div>
</div>

