<ng-sidebar-container>

  <ng-sidebar [(opened)]="opened">
    <div class="contenedor_botones_menu">
      <button class="btnopciones" (click)='alternarPanel("contenedorpacientes")'>pacientes</button><br>
      <div class="contenedores" id="contenedorpacientes">
        <button class="btnsubopciones" [routerLink]="['/registrar-cliente']">registrar paciente</button>
        <button class="btnsubopciones" [routerLink]="['/editar-cliente']">editar paciente</button>
        <button class="btnsubopciones" [routerLink]="['/listar-clientes']">listado de pacientes</button>
      </div>
      <button class="btnopciones" (click)='alternarPanel("contenedorAgendas")'>agendas</button><br>
      <div class="contenedores" id="contenedorAgendas">
        <button class="btnsubopciones" [routerLink]="['/registrar-agenda']">agendar citas</button>
        <button class="btnsubopciones" [routerLink]="['/consultar-agenda']">ver agenda</button>
      </div>
      <button class="btnopciones" (click)='alternarPanel("contenedorHistoria")'>historia clinica</button><br>
      <div class="contenedores" id="contenedorHistoria">
        <button class="btnsubopciones" [routerLink]="['/registrar-historia']">registrar historia de paciente</button>
        <button class="btnsubopciones" [routerLink]="['/consultar-historia']">ver historia de pacientes</button>
        <button class="btnsubopciones" [routerLink]="['/editar-historia']">editar historia de paciente</button>
      </div>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
    <button class="btnsidebar" (click)="toggleSidebar()"> Menu</button>
  </div>

</ng-sidebar-container>
