<div class="titulo">
  Listar pacientes
</div>
<br>
<br>
<div class="form">
  <div class="identificacion">
    <input  type="text" id="identificacion" [(ngModel)]="searchText"  placeholder="nombre...">
  </div>
  <div class="buscar">
    <button type="button">Buscar</button>
  </div>
</div>
<div>
  <table class="table table-striped" *ngIf='personas && personas.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">identificación</th>
            <th scope="col">Nombres </th>
            <th scope="col">apellidos</th>
            <th scope="col">direccion</th>
            <th scope="col">año de nacimiento</th>
            <th scope="col">correo</th>
            <th scope="col">telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas|filtroPaciente:searchText; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ persona.identificacion }}</td>
            <td>{{ persona.nombre}}</td>
            <td>{{ persona.apellido}}</td>
            <td>{{ persona.direccion}}</td>
            <td>{{ persona.anoNacimiento | date:'d/M/yyyy  h:mm a'}}</td>
            <td>{{ persona.correo}}</td>
            <td>{{ persona.telefono}}</td>
        </tr>
    </tbody>
  </table>
</div>
