<div class="titulo">
  Listar pacientes
</div>
<br>
<br>
<div class="form">
  <div class="identificacion">
    <input  type="text" id="identificacion" [(ngModel)]="searchText"  placeholder="nombre...">
  </div>
  <div class="btnBuscar">
    <button (click)="buscarPersonas()">buscar</button>
  </div>

</div>
<div class="lista-personas">
  <table class="table table-striped" *ngIf='personas && personas.length'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">identificación</th>
            <th scope="col">Nombres </th>
            <th scope="col">apellidos</th>
            <th scope="col">direccion</th>
            <th scope="col">año de nacimiento</th>
            <th scope="col">correo</th>
            <th scope="col">telefono</th>
            <th scope="col">estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody *ngIf='buscar'>
        <tr *ngFor="let persona of personas|filtroPaciente:searchText; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ persona.identificacion }}</td>
            <td>{{ persona.nombre}}</td>
            <td>{{ persona.apellido}}</td>
            <td>{{ persona.direccion}}</td>
            <td>{{ persona.anoNacimiento | date:'d/M/yyyy  h:mm a'}}</td>
            <td>{{ persona.correo}}</td>
            <td>{{ persona.telefono}}</td>
            <td>{{ persona.estado}}</td>
            <td><button class="boton_llenar" (click)="cambiarEstado(persona.identificacion,persona.estado)">cambiar estado</button></td>
        </tr>
    </tbody>
  </table>
</div>
