<div class="titulo">
  Editar paciente
  </div>
  <br>
  <br>
  <form class="form" action="ejemplo.php" method="get">
      <input type="text" name="identifiacion" placeholder="identifiacion...">
      <input type="text" name="nombre" placeholder="nombres...">
      <input type="text" name="apellidos" placeholder="apellidos..." />
      <input type="text" name="direccion" placeholder="direccion..." />
      <input type="number" name="nacido" placeholder="año de nacimiento..." min="1800">
      <input type="text" name="correo" placeholder="correo electrónico..." />
      <input type="text" name="telefono" placeholder="telefono..."/>
      <br>
      <div class="enviar">
        <button type="button">Enviar</button>
      </div>
      <div class="borrar">
        <button type="reset">Borrar</button>
      </div>
  </form>
