<div class="titulo">
  Listar pacientes
</div>
<br>
<br>
<div class="form">
  <div class="identificacion">
    <input type="text" name="identifiacion" placeholder="identifiacion...">
  </div>
  <div class="buscar">
    <button type="button">Buscar</button>
  </div>
</div>
<div>
  <table>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">identificación</th>
            <th scope="col">Nombres </th>
            <th scope="col">apellidos</th>
            <th scope="col">direccion</th>
            <th scope="col">año de nacimiento</th>
            <th scope="col">correo</th>
            <th scope="col">telefono</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>
</div>
