<div class="titulo">
  consultar agenda
</div>
<br>
<br>
<div class="form">
  <div class="identificacion">
    <input type="text" name="textoVerificacion" placeholder="digite...">
  </div>
</div>
<div>
  <table>
    <thead>
        <tr *ngIf='citas && citas.length'>
            <th scope="col">#</th>
            <th scope="col">idCita</th>
            <th scope="col">fechaCita </th>
            <th scope="col">idPersona</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cita of citas index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{cita.idCita}}</td>
            <td>{{cita.fechaCita | date:'d/M/yyyy  h:mm a'}}</td>
            <td>{{cita.idPersona}}</td>
        </tr>
    </tbody>
  </table>
</div>
